*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}