body {
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: $fontSize-default;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

   
    color: var(--secondary-color);
    background-color: var(--secondary-background);
    
}

.heading-primary {
    font-size: 4.5rem!important;
    overflow-wrap: break-word;

    @media (max-width: 500px) {
        font-size:2.7rem!important;
    }
}

p {
    line-height: 2.7rem;
}
