.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }
}

.separator-or {
    &::before {
        content: '';
        border-top: 1px solid black;
        padding-bottom: 5px;
        width: 46%;
        display: inline-block;
    }
    &::after {
        content: '';
        border-top: 1px solid black;
        padding-bottom: 5px;
        width: 46%;
        display: inline-block;
    }
}
